extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Tobias Kloy
        p Full Stack JavaScript Developer


        .about-bio

          p Already as a small child I were allowed to type on my father's computer under his supervision, so I felt in love with technology quite early. My first web page was online when I was 12 (eventhough it was quite embarassing). I am always happy to learn new skills and solve riddles.  


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Vue.js
          li Express
          li Pug
          li Python
          li Django

        h6 Contact Info

        ul
          li +49 179 938 3333
          li tobias.kloy@werde-volunteer.info

        a.btn-link(href='https://www.linkedin.com/in/tobias-kloy-8b33a9210/') LinkedIn
        a.btn-link(href='https://www.github.com/vcircle91/') GitHub
        a.btn-link(href='https://www.twitter.com') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back