extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p You will find an overview about my coding projects here.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href='/project/' + project.id)
            img.thumbnail(src=project.image_urls[0], alt=project.project_name)
            h5 #{project.project_name}

